/* strong{
    text-align: center;
}

p{
    color: royalblue;
    font-weight: bold;
    text-align: center;
} */


/* body{
    text-align: center;
}
strong{
    text-align: left;
} */